body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

#answers button {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.correct {
  color: #22c55e;
}

.wrong {
  color: #ef4444;
}
